:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  /* animation */
  --animation-duration: 300ms;
  /* Size */
  --imgBtn-size: 60px;
  --item-thumbnail-size: 50px;
  --border-radius: 5px;
  --margin: 7px;
  --padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* logo and button */
.btn:hover,
.logo:hover {
  transform: scale(1.1, 1.1);
}

/* Logo */
.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

/* Button */
.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn .imgBtn {
  width: var(--imgBtn-size);
  height: var(--imgBtn-size);
}

.btn.colorBtn {
  font-size: large;
  border-radius: var(--border-radius);
  margin-right: var(--margin);
  padding: var(--padding);
}

.btn.blue {
  background-color: var(--color-blue);
}
.btn.yellow {
  background-color: var(--color-yellow);
}
.btn.pink {
  background-color: var(--color-pink);
}

/* items */
.items {
  list-style: none;
  width: 60%;
  height: 60%;
  padding-left: 0;
  overflow: auto;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--padding);
  margin-bottom: calc(var(--margin) / 2);
}

.item .item__thumbnail {
  width: var(--item-thumbnail-size);
  height: var(--item-thumbnail-size);
  margin-right: calc(var(--margin) * 2);
}

.item .item__descrition {
  font-size: medium;
}
